*.autosave
*.DS_Store
*.asv
**/old/*
*.mat
todo.txt
*~
*.png
*.eps
**/dev/*
**/backup/*
*.slxc
**/slprj*
*.xml
**/gs/*
**/clutter*
**/reference*
*kstar.slx
*kstar_lite.slx
*nstxu.slx
*nstxu_lite.slx



# exceptions (specific mat files to track)




